name: k6 Load Test

on:
  push:
    branches:  
      - master
  pull_request:
    branches: [ main ]

jobs:
  k6-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js (optional, if you need npm packages)
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install k6
      run: |
        sudo apt update
        sudo apt install -y wget
        wget https://github.com/grafana/k6/releases/latest/download/k6-v0.48.0-linux-amd64.deb
        sudo dpkg -i k6-v0.48.0-linux-amd64.deb

    - name: Run k6 Tests
      run: |
        k6 run k6test.js
        k6 run verify-requests.js

    - name: Upload Report
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: k6-reports
        path: summary.html
